:root {
  background-color: rgb(1, 27, 4);
}

.thumbBar {
  display: flex;
  text-align: center;
  width: 80%;
  max-width: 420px;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 15px;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
}
