:root {
  background-color: rgb(1, 27, 4);
}

.thumbBar {
  display: flex;
  text-align: center;
  width: 80%;
  max-width: 320px;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 15px;
  border-radius: 10px;
}

.thumb {
  background-color: blue;
  height: 100px;
  border-radius: 10px;
}

.title {
  background-color: red;
  width: 100px;
}
